.company{
    margin-top: 10px;
    background-color: #F9FAFB;
}

.spisok{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #F9FAFB;;
}

.spisok2{
    display: grid;      
     grid-template-columns: repeat(3, 1fr);  
    row-gap: 10px;    
    column-gap: 70px;          
    justify-content: space-between; 
    list-style: none;
    padding: 0;
    margin: 20px 35px;
    width: 100%;
    
}

.spisok3{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
    margin-bottom: 2px;
   
}

.spisok4{
    background-color: white;
    border-radius: 10%;
    margin-top: 10px;
    padding: 8px 0;
    flex: 1 1 calc(33.333% - 20px);               
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.096); 
    border-radius: 10px;
}

.spisok5{
    display: flex !important; 
    align-items: center;
    justify-content: center;
     width: 65px;
    height: 65px;
    font-size: 50px !important;
    line-height: 1 !important;
    color: white;
    background-color: #155DFC;
    border-radius: 20px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 8px;
}

.spisok6{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    margin-left: 8px;
    margin-bottom: 8px;
}


.uslugi{
    display: flex;
    justify-content: center;
    font-size: 65px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.uslugi2{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 5px;
}