.run{
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
}

.run2{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 20px;
}

.run3{
    flex: 1;              
    display: flex;         
    flex-direction: column;

    padding: 20px;
    list-style: none;
    margin: 0;
}

.run4{
    flex:1;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
}

.run5{
    font-size: xx-large;
    font-weight: 500;
}

.run6{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.run7{
    display: flex !important; 
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    font-size: 45px !important;
    line-height: 1 !important;
    color: #155DFC;
    background-color: #DBEAFE;
    border-radius: 20px;
    padding: 0;
    box-sizing: border-box;
    margin-right: 10px;
}

.abUs{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.stoke{
    width: 40%;           
    max-height: auto;      
    object-fit: cover;     
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.team{
    background-color: #F9FAFB;
}

@media (max-width:1200px) {
    
}

@media (max-width:1000px) {
    
}

@media (max-width:876px) {
    .run5{font-size: 5vw;}
    .stoke{display: none;}
}

@media (max-width:480px) {
    .run5{font-size: 5vw;}
    .stoke{display: none;}

}