.stoke1{
    display: flex;
    align-items: flex-start;
    background-image: url("../img/stoke.svg");
    width: 100%;
    height: 500px;
}

.stokeText{
    padding: 10px;
    font-size: 90px;
    justify-content: center;
    color: whitesmoke;
    margin: 0 10px 0 0;
    padding: 0;
    flex-wrap: wrap;
}

.stokeText2{
    padding: 10px;
    font-size: 40px;
    justify-content: center;
    color: whitesmoke;
    margin: 25px 10px 0 5px;
    padding: 0;
    font-size: 27px;
    flex-wrap: wrap;
}

.foto{
    width: 40%;
    height: auto;
    border-radius: 20px;
    margin-top: 4%;
    margin-right: 1%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    flex-wrap: wrap;
}

@media(max-width:1200px){

}

@media(max-width:1000px){
     .stoke1{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 1vw;
    }

    .stokeText{
        width: 100%;
        max-width: 100%;
        font-size: 14vw;
    }
    .foto {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center; 
}
}

@media(max-width:768px){
     .stoke1{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 1vw;
    }

    .stokeText{
        width: 100%;
        max-width: 100%;
        font-size: 14vw;
    }
    .foto {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center; 
}
}

@media(max-width:480px){

    .stoke1{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 1vw;
    }

    .stokeText{
        width: 100%;
        max-width: 100%;
        font-size: 14vw;
    }
    .foto {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center; 
}


}












.info ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 60px;    
    margin-top: 15px; 
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.info li{
    display: flex;
    flex-direction: column;  
    align-items: center; 
    flex: 1;      
    gap: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.096); 
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.info2{
    font-size: 20px;
    font-weight: 600;
}

.icon-info {
    display: flex !important; 
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    font-size: 40px !important;
    line-height: 1 !important;
    color: #155DFC;
    background-color: #DBEAFE;
    border-radius: 20px;
    padding: 0;
    box-sizing: border-box;
    margin-top: 7px;
}

.info li, .spisok4 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; 
}

.info li:hover, .spisok4:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.metro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.metro2{
    width: 25px;
    height: auto;
    margin-right: 5px;
}

.busstop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bus{
    width: 22px;
    height: auto;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #155DFC;
    border-radius: 5px;
    margin-right: 5px;
}

.material-symbols-outlined.bus {
   font-variation-settings: 
    "FILL" 0,
    "wght" 200,
    "GRAD" 0,
    "opsz" 24 !important;
}

.ach{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 25px;
}

.ach:first-child{
    margin-left: 5%;
}

.ach:last-child{
    margin-right: 5%;

}

.number{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    color: #155DFC;
    margin-bottom: 5px;
}

@media(max-width:1200px){

}

@media(max-width:1000px){
    .info ul {
        display: flex;
        flex-direction: column;  /* Выстраиваем li в колонку */
        list-style: none;        /* Убираем точки списка */
        padding: 0;              /* Убираем стандартный отступ слева */
        margin: 0;               /* Убираем стандартные отступы */
        gap: 20px;               /* Расстояние между элементами */
    }
    
    /* Опционально: центрируем текст внутри li */
    .info li {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Или center, если нужно по центру */
        gap: 5px;                /* Отступ между иконкой и текстом */
    }

    .number {
        font-size: 8.7vw; 
    }

    .number2{
        font-size: 3vw;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:768px){
      .info ul {
        display: flex;
        flex-direction: column;  /* Выстраиваем li в колонку */
        list-style: none;     /* Убираем точки списка */
        padding: 0;              /* Убираем стандартный отступ слева */
        margin: 0;               /* Убираем стандартные отступы */
        gap: 20px;  
         width: 90%;
        max-width: 90%;              /* Расстояние между элементами */
    }
    
    /* Опционально: центрируем текст внутри li */
    .info li {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Или center, если нужно по центру */
        gap: 5px;                /* Отступ между иконкой и текстом */
    }

    .number {
        font-size: 8.7vw; 
    }

    .number2{
        font-size: 3vw;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .info ul {
        display: flex;
        flex-direction: column;  
        list-style: none;       
        padding: 0;             
        margin: 0;               
        gap: 20px;  
        width: 90%;
        max-width: 90%;              
    }
    
    .info li {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        gap: 5px;             
    }

    .number {
        font-size: 8.7vw; 
    }

    .number2{
        font-size: 3vw;
        justify-content: center;
        align-items: center;
    }
}