.mainHeader{
    position: sticky;
    top: 0;     
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    background-color: #1C398E;
    padding: 0.4rem 10px;
    flex-wrap: wrap;
}

.header1Text{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 0.875rem;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
}

.header1Text2{
    margin-right: 5px;
}

.header1Text:last-child{
    margin-right: 7px;
}

@media (max-width:1200px){
}

@media (max-width: 1000px){

}

@media (max-width: 768px) {
    .header {
        justify-content: center;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.3vw;
        background-color: #1C398E;
        padding: 0.5vw;
        flex-wrap: wrap;
        line-height: 1; }

    .header1Text {
        font-size: 3.3vw;
        display: flex;
        justify-content: center;
        align-items: center; 
        color: aliceblue;
        text-decoration: none;   
        margin-top: 0.3vw;    
        margin-bottom: 0.3vw; 
        
    }

    .header1Text .material-symbols-outlined {
        font-size: 4vw; 
        line-height: 1; 
        vertical-align: middle;
    }

    .no768 {
        display: none;
    }

    .name2{
        align-items: top;
        font-size: 3vw;
        margin-top: 0;

    }
}

@media (max-width: 480px){

    .header{
        background-color: #1C398E;
    }
    .header1Text{
       font-size:3vw;
       margin-top: 1vw;
       margin-bottom: 1vw;
       padding: 0;
    }


    .header1Text .material-symbols-outlined {
        font-size: 4.5vw;
    }

    .no768{display: none;}

    .name2{
        align-items: top;
        font-size: 3vw;
        margin-top: 0;
    }

}












.header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.75rem 2px;
    flex-wrap: wrap;
}

.header3{
    display: flex;
    align-items: center;
}

.logo{
    height: 75px;
    width: auto;
    display: block;
    border-radius: 15px;
    margin: 15px;
}

.marker{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 40px;
}

.marker:last-child{
     margin-right: 20px;
}

.animated-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 0;
    font-size: 1rem;
}

.animated-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    background-color: #007bff;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.animated-link:hover::after {
    width: 100%;
}

.material-symbols-outlined.bus{
    color: white;
    background-color: #155DFC;
    border-radius: 5px;
    font-variation-settings: 'FILL' 0, 'wght' 20, 'GRAD' 0 !important;
    font-weight: 20 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.que{
    background-color: #155DFC;
    border-radius: 10px;
    color: azure;
    padding: 10px 20px;
    margin-left: 15px;
}

.name{
    font-size: 25px;
    margin-bottom: 7px;
    font-weight: 600;
}

@media (max-width: 1200px){

}

@media (max-width: 1000px){

}

@media (max-width: 768px){

    .header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.5vw;
    flex-wrap: wrap;
    }

    .logo{
    height: 8vw;
    width: auto;
    display: block;
    border-radius: 2vw;
    margin: 1vw;
    }

    .name{
    font-size: 3.8vw;
    margin-bottom: 0.5vw;
    font-weight: 600;
    }

    .marker{
        width: 100%;
        gap:5vw;
    }

    .animated-link{
        font-size: 2vw;
    }

    .que{
    background-color: #155DFC;
    border-radius: 1.5vw;
    color: azure;
    padding: 1vw 2 vw;
    margin-left: 3vw;
    font-size: 2vw;
}
}

@media (max-width: 480px){
    .logo{
    height: 8vw;
    width: auto;
    display: block;
    border-radius: 0.5;    
    margin: 2vw;
    }

    .header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.5vw;
    flex-wrap: wrap;
    }

      .marker{
        margin-left: 2vw;
        justify-content:space-between;
        width: 100%;
    }

    .animated-link{
        font-size: 3vw;
    }

    .que{
    background-color: #155DFC;
    border-radius: 1.5vw;
    color: azure;
    padding: 1vw 2 vw;
    margin-left: 3vw;
    font-size: 3vw;
}

}