html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.map-container{
    width: 100%;
    height: 500px;
}

.map{
    width: 100%;
    height: 100%;
}
