body{
    font-size: 20px;
    
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    gap: 50px;
    margin-right: 120px;
}


.header2{
    width: 100%;
    height:200px;
    margin-top: 5px;
}

.logo{
    height: 100px;
    width: 100px;
}

.marker{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 50px;
    margin-top: -75px;
    margin-right: 100px;
    
}

.stoke1{
    /* Вставить картинку на задний фон */
    width: 100%;
    height: 500px;
    background-color: aqua;
}

.stokeText{
    padding: 10px;
    font-size: 90px;
    
}

.stokeText2{
    padding: 10px;
    font-size: 40px;
    
}

.shayrma{
    margin-top: -250px;
    margin-left: 58%;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
}

.ach{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 100px;
    margin-top: 5px;
}

.pipisua{
    margin-top: 10px;
}

.uslugi{
    display: flex;
    justify-content: center;
}

.spisok2{
    display: flex;
    justify-content: center;
    list-style: none;
}

.run{
    display: flex;
    justify-content: center;
}

.map-container{
    width: 100%;
    height: 500px;
}

.map{
    width: 100%;
    height: 100%;
}

footer{
    margin-top: 75px;
}

.footer2{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.footer3{
    list-style: none;
}

.footer4{
     display: flex;
    justify-content: center;
}